<% content_for :sitemap do %>
  <span class="current">分类</span>
<% end %>
<h1>Listing Sections</h1>

<table class="grid">
  <tr class="head">
    <td class="first">Name</th>
    <td>Sort</td>
    <td></td>
  </tr>

    <% @sections.each do |section| %>
      <tr>
        <td class="first"><%= section.name %></td>
        <td><%= section.sort %></td>
        <td><%= link_to 'Edit', edit_cpanel_section_path(section) %></td>
        <td><%= link_to 'Destroy', cpanel_section_path(section), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Section', new_cpanel_section_path %>
